{:kotoba.app/id "cloud.itonami.isic-9529", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreia2cc444k5yrw57uhszfrvbri7wee3ljbpb5wfcorykk72kgxhjaq", :kotoba.app/embed-url "ipfs://bafkreia2cc444k5yrw57uhszfrvbri7wee3ljbpb5wfcorykk72kgxhjaq", :published {:archive "https://kotobase.net/ipfs/bafkreia2cc444k5yrw57uhszfrvbri7wee3ljbpb5wfcorykk72kgxhjaq", :size 78054, :put-status 201, :get-status 200, :at "2026-08-15T13:35:51.408Z"}}
